USE [BDBI]
GO
/****** Object:  Table [dbo].[TablaReporteVentasTambo]    Script Date: 28/10/2018 01:41:45 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TablaReporteVentasTambo](
	[Orden] [int] NOT NULL,
	[TdaClasifOper] [varchar](10) NOT NULL,
	[VentaMesAct] [numeric](38, 5) NULL,
	[DifMesActMesAntPor] [numeric](38, 6) NULL,
	[DifMesActAnioAntPor] [numeric](38, 6) NULL,
	[DifMesActMesAnt] [numeric](38, 5) NULL,
	[DifMesActAnioAnt] [numeric](38, 5) NULL,
	[TicketPromMesAct] [numeric](38, 6) NULL,
	[TicketPromMesAnt] [numeric](38, 6) NULL,
	[TicketPromAnioAnt] [numeric](38, 6) NULL,
	[VarTickMesActMesAnt] [numeric](38, 6) NULL,
	[VarTickMesActAnioAnt] [numeric](38, 6) NULL,
	[UnidxTranMesAct] [numeric](38, 6) NULL,
	[UnidxTranMesAnt] [numeric](38, 6) NULL,
	[UnidxTranAnioAnt] [numeric](38, 6) NULL,
	[MargenMesAct] [numeric](38, 6) NULL,
	[MargenMesAnt] [numeric](38, 6) NULL,
	[MargenAnioAnt] [numeric](38, 6) NULL,
	[Cuota] [numeric](38, 9) NULL,
	[AlcCuota] [numeric](38, 6) NULL,
	[DifVtaCuota] [numeric](38, 5) NULL,
	[NumTxMesAct] [int] NULL,
	[NumTxMesAnt] [int] NULL,
	[NumTxAnioAnt] [int] NULL,
	[VarNumTxActMesAnt] [float] NULL,
	[VarNumTxActAnioAnt] [float] NULL,
	[BP] [numeric](38, 5) NULL,
	[AlcBP] [numeric](38, 6) NULL,
	[DifVtaBP] [numeric](38, 5) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TablaReporteVentasTamboDia]    Script Date: 28/10/2018 01:41:45 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaReporteVentasTamboDia](
	[Fecha] [datetime] NOT NULL,
	[VentaMesAct] [numeric](38, 5) NULL,
	[DifMesActMesAntPor] [numeric](38, 6) NULL,
	[DifMesActAnioAntPor] [numeric](38, 6) NULL,
	[DifMesActMesAnt] [numeric](38, 5) NULL,
	[DifMesActAnioAnt] [numeric](38, 5) NULL,
	[TicketPromMesAct] [numeric](38, 6) NULL,
	[TicketPromMesAnt] [numeric](38, 6) NULL,
	[TicketPromAnioAnt] [numeric](38, 6) NULL,
	[VarTickMesActMesAnt] [numeric](38, 6) NULL,
	[VarTickMesActAnioAnt] [numeric](38, 6) NULL,
	[UnidxTranMesAct] [numeric](38, 6) NULL,
	[UnidxTranMesAnt] [numeric](38, 6) NULL,
	[UnidxTranAnioAnt] [numeric](38, 6) NULL,
	[MargenMesAct] [numeric](38, 6) NULL,
	[MargenMesAnt] [numeric](38, 6) NULL,
	[MargenAnioAnt] [numeric](38, 6) NULL,
	[Cuota] [numeric](38, 9) NULL,
	[AlcCuota] [numeric](38, 6) NULL,
	[DifVtaCuota] [numeric](38, 5) NULL,
	[NumTxMesAct] [int] NULL,
	[NumTxMesAnt] [int] NULL,
	[NumTxAnioAnt] [int] NULL,
	[VarNumTxActMesAnt] [float] NULL,
	[VarNumTxActAnioAnt] [float] NULL,
	[BP] [numeric](38, 5) NULL,
	[AlcBP] [numeric](38, 6) NULL,
	[DifVtaBP] [numeric](38, 5) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TablaReporteVentasTamboSemanas]    Script Date: 28/10/2018 01:41:45 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaReporteVentasTamboSemanas](
	[SemanaCal] [int] NOT NULL,
	[VentaMesAct] [numeric](38, 5) NULL,
	[DifMesActMesAntPor] [numeric](38, 6) NULL,
	[DifMesActAnioAntPor] [numeric](38, 6) NULL,
	[DifMesActMesAnt] [numeric](38, 5) NULL,
	[DifMesActAnioAnt] [numeric](38, 5) NULL,
	[TicketPromMesAct] [numeric](38, 6) NULL,
	[TicketPromMesAnt] [numeric](38, 6) NULL,
	[TicketPromAnioAnt] [numeric](38, 6) NULL,
	[VarTickMesActMesAnt] [numeric](38, 6) NULL,
	[VarTickMesActAnioAnt] [numeric](38, 6) NULL,
	[UnidxTranMesAct] [numeric](38, 6) NULL,
	[UnidxTranMesAnt] [numeric](38, 6) NULL,
	[UnidxTranAnioAnt] [numeric](38, 6) NULL,
	[MargenMesAct] [numeric](38, 6) NULL,
	[MargenMesAnt] [numeric](38, 6) NULL,
	[MargenAnioAnt] [numeric](38, 6) NULL,
	[Cuota] [numeric](38, 9) NULL,
	[AlcCuota] [numeric](38, 6) NULL,
	[DifVtaCuota] [numeric](38, 5) NULL,
	[NumTxMesAct] [int] NULL,
	[NumTxMesAnt] [int] NULL,
	[NumTxAnioAnt] [int] NULL,
	[VarNumTxActMesAnt] [float] NULL,
	[VarNumTxActAnioAnt] [float] NULL,
	[BP] [numeric](38, 5) NULL,
	[AlcBP] [numeric](38, 6) NULL,
	[DifVtaBP] [numeric](38, 5) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TablaReporteVentasTamboTienda]    Script Date: 28/10/2018 01:41:45 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TablaReporteVentasTamboTienda](
	[Orden] [int] NOT NULL,
	[TdaClasifOper] [varchar](10) NOT NULL,
	[Ayer_VentaNeta] [numeric](38, 5) NULL,
	[Ayer_Cuota] [numeric](38, 9) NULL,
	[Ayer_AlcCuota] [numeric](38, 6) NULL,
	[Ayer_DifMesActMesAntPor] [numeric](38, 6) NULL,
	[Ayer_DifMesActAnioAntPor] [numeric](38, 6) NULL,
	[Ayer_NumTxMesAct] [int] NULL,
	[Ayer_NumTxMesAnt] [int] NULL,
	[Ayer_NumTxAnioAnt] [int] NULL,
	[Ayer_MargenMesAct] [numeric](38, 6) NULL,
	[Ayer_MargenMesAnt] [numeric](38, 6) NULL,
	[Ayer_MargenAnioAnt] [numeric](38, 6) NULL,
	[Acum_VentaMesAct] [numeric](38, 5) NULL,
	[Acum_DifMesActMesAntPor] [numeric](38, 6) NULL,
	[Acum_DifMesActAnioAntPor] [numeric](38, 6) NULL,
	[Acum_Cuota] [numeric](38, 9) NULL,
	[Acum_AlcCuota] [numeric](38, 6) NULL,
	[Acum_DifVtaCuota] [numeric](38, 5) NULL,
	[NumTxMesAct] [int] NULL,
	[NumTxMesAnt] [int] NULL,
	[NumTxAnioAnt] [int] NULL,
	[Acum_UnidxTranMesAct] [numeric](38, 6) NULL,
	[Acum_UnidxTranMesAnt] [numeric](38, 6) NULL,
	[Acum_UnidxTranAnioAnt] [numeric](38, 6) NULL,
	[Acum_TicketPromMesAct] [numeric](38, 6) NULL,
	[Acum_TicketPromMesAnt] [numeric](38, 6) NULL,
	[Acum_TicketPromAnioAnt] [numeric](38, 6) NULL,
	[Acum_BP] [numeric](38, 5) NULL,
	[Acum_AlcBP] [numeric](38, 6) NULL,
	[Acum_DifVtaBP] [numeric](38, 5) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
